name: Manual CLI Trigger Workflow

on:
  workflow_dispatch:
    inputs:
      env:
        description: "Environment to run on"
        required: true
        default: "dev"
      version:
        description: "App version"
        required: false

jobs:
  run-job:
    runs-on: ubuntu-latest
    steps:
      - name: Print inputs
        run: |
          echo "Environment: ${{ github.event.inputs.env }}"
          echo "Version: ${{ github.event.inputs.version }}"
